.wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  .checkboxWrapper {
    justify-content: center;

    width: 1.5rem;
    height: 1.5rem;

    background-color: transparent;
    border-radius: 100%;

    &: hover .root:not(data-state='checked'){
    background: var(--color-dark-500);
  }
  }
}

.disabled {
}

.checkbox {
}

.icon {
}

.indicator {
}

.label {
}
