.avatarContainer {
  position: relative;

  overflow: hidden;
  display: flex;

  width: 30px; // Ширина контейнера аватара
  height: 30px; // Высота контейнера аватара

  border-radius: 50%; // Создаем круглую форму контейнера
  .avatar {
    cursor: pointer;

    position: absolute;
    top: -10%;
    left: -10%;
    transform: scale(1.15); // изменение масштаба картинки

    object-fit: cover;
  }
}

.avatarWithNameWrapper {
  cursor: pointer;
  display: flex;
  gap: 0.35rem;
  align-items: center;

  .name {
    color: var(--color-dark-100);
    border-bottom: 2px double var(--color-dark-100);
  }
}
