.root {
  display: flex;
  gap: 25px;
  align-items: center;

  .container {
    display: flex;
    gap: 12px;
    list-style-type: none;
  }
}

@mixin item {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.5rem;
  height: 1.5rem;

  color: var(--color-accent-500);

  opacity: 0.6;
  border-radius: 4px;
}

.dots {
  @include item;
}

.item {
  @include item;

  cursor: pointer;

  &:focus-visible {
    outline: 2px var(--color-info-900);
    stroke: var(--color-info-900);
    stroke-width: 2px;
  }

  &:disabled {
    cursor: initial;
    font-weight: bold;
    opacity: 0.5;
  }

  &:hover:not(&:disabled) {
    background-color: var(--color-dark-100);
  }

  &.selected {
    color: var(--color-dark-700);
    background-color: var(--color-accent-100);
    box-shadow: 1px 3px 4px 1px var(--color-accent-300);
  }
}

.icon {
  .item:disabled & {
    color: var(--color-dark-500) !important;
  }
}

.selectBox {
  display: flex;
  gap: 12px;
  align-items: center;

  color: var(--color-text-primary);
  white-space: nowrap;

  .select {
    flex-shrink: 0;
    width: 4rem;
    margin-right: 0.6rem;
  }
}
