@import 'src/styles/mixins';

.primary {
  @include buttons;

  font-size: var(--font-size-s);
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 11px 0 var(--color-accent-900);
}

.secondary {
  @include buttons;

  font-size: var(--font-size-s);
  background-color: var(--color-dark-300);
}

.tertiary {
  @include buttons;

  font-size: var(--font-size-s);
  color: var(--color-accent-500);
  border: 1px solid var(--color-accent-500);
}

.link {
  @include buttons;

  font-size: var(--font-size-m);
  color: var(--color-accent-500);
}

.icon {
  @include buttons;
}

.fullWidth {
  @include buttons;

  width: 100%;
  font-size: var(--font-size-s);
}
