.card {
  height: auto;
  padding: 1rem;

  .linkOff {
    cursor: pointer;
    text-decoration: none;

    .cardImg {
      display: block;

      width: 90%;
      margin: 0 auto !important;

      border: none;
      border-radius: 10px;
      box-shadow: 0 0 10px var(--color-dark-100);
    }

    .textWrap {
      .title {
        padding-top: 1rem;
        color: var(--color-light-700);
      }

      .description {
        overflow: hidden;
        display: -webkit-box;

        color: var(--color-light-700);

        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  }


  .location {
    color: var(--color-light-700);
    text-align: right;
  }

  .dataWrap {
    display: flex;
    justify-content: space-between;
    color: var(--color-light-700);

    .watchInfo {
      display: flex;
      justify-content: space-between;
      color: var(--color-light-700);

      .icon {
        margin-right: 0.25rem;
      }
    }
  }
}

