.card {
  width: 420px;
  height: 552px;

  background-color: var(--color-dark-500);
  border: 2px solid var(--color-accent-900);
  border-radius: 8px;
  box-shadow: 3px 5px 11px 0 var(--color-accent-900);
}
